*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: 'Fontdiner Swanky', cursive;
	color: rgb(100,100,100);
	margin: 0px;
}

section.hero{
	width: 100%;
	height: 1000px;
	background-image: url('http://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1450974650/disney-fireworks-castle-DISNEY1215.jpg?itok=vlwJ0I5m');
	background-size: 100% 100%;
	color: #fff;
	text-decoration: none;
	height: 1000px;
}
.hero{
	margin: 0px;
	text-align: center;
}

#logo{
	padding-top: 15px;
	float: left;
	font-family: 'Fontdiner Swanky', cursive;
	font-size: 250%;
}
nav{
	margin-top: 15px;
	float: right;
}
nav ul li a{
	display: inline;
	margin-right: 19px;
	padding-right: 30px;
	padding-top: 20px;
	margin-top: 15px;
}
nav ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 160%;
	background-color: #fff;
	display: block;
	opacity: .8;
	
}
nav ul li a:hover{
	background-colour: orange;
}

nav ul li a ul li a{
	display: none;
}
nav ul li a:hover nav ul li a{
	display: block;
}

.mediacontainer marquee{
	font-size: 600%;
	line height: 1em;
	margin: 0px;
	text-align: center;
	font-family: 'Fontdiner Swanky', cursive;
	font-weight: normal;
}

.features{
	width: 940px;
	height: 400px;
	margin: 0px auto;
	padding: 5px 0px;
}
.features h2{
	text-align: center;
	font-size: 300%;
	margin-bottom: 30px;
	font-family: 'Fontdiner Swanky', cursive;
	font-weight: normal;
	color: #fff;
	background-image: url('http://66.media.tumblr.com/tumblr_m76zskFXbs1qc4jg3o1_500.gif');
}
.col-1 h3{
	width: 286px;
	height: 200px;
	float: left;
	text-align: center;
	margin-bottom: 40px;
	color: #000;
	font-weight: normal;
	font-size: 180%;
	background-color: pink;

}
.col-1 h5{
	font-size: 180%;
	width: 286px;
	height: 200px;
	font-weight: normal;
	text-align: right;
	float: right;
	margin-bottom: 400px;
	color: #000;
	background-color: pink;
}
section.features{
	background-image: url('https://thecatchyblog.files.wordpress.com/2014/04/disney-characters.gif');
	width: 100%;
	height: 1000px;
	
	background-size: 100% 100%;
	color: #fff;
	text-decoration: none;
	height: 1000px;
}
#wrapper{
	width: 400px;
	background-color: #000;
	margin: 5px;
	float: left;
	margin-left: 15px;
	opacity: .8;
	min-height: 300px;
	border: 1px solid #999;
	border-bottom:3px solid #999;
	border-radius: 5px;
}

#dialogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #fff;
	width: 100%;
	z-index: 10%;
}

#dialogbox{
	display: none;
	position: fixed;
	background-color: #000;
	border-radius: 7px;
	width: 550px;
	z-index: 10%;
}

#dialogbox>div{
	background: #fff;
	margin: 8px;
}

#dialogbox>div>#dialogboxhead{
	background: #fff;
	padding: 15px;
	font-size: 76px;
	color: #fff;
}
#dialogbox>div>#dialoxbody{
	background: #333;
	padding: 20px;
	color: #fff;
}

#dialogbox>div>#dialogboxfoot{
	background: #666;
	padding: 10px;
	text-align: right;
}

	


	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
