*{
	margin: 5px;
	padding: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 15px;
	margin-left: 15px;
	border-color: #000;
}
body{
	font-family: 'Fontdiner Swanky', cursive;
	color: ;
	margin: 0px;
}

section.hero{
	padding: 5px;
	width: 100%;
	height: 400;
	background-size: 100% 100%;
	color: #FF69B4;
	text-decoration: underline overline;
	height: 600px;
	border-radius: 5px;
	border: 1px solid #999;
	margin-left: 15px;
	margin-right: 15px;
	background: black url('http://cdn.paper4pc.com/images/blur-wallpaper-6.jpg') center center no-repeat;
	background-size: cover;
}

.hero{
	margin: 15px;
	text-align: center;
}

#logo{
	padding-top: 15px;
	float: center;
	font-family: 'Fontdiner Swanky', cursive;
	font-size: 125%;
	opacity: .8;
	background: #98fb98 url('http://www.clipartkid.com/images/218/walt-disney-characters-walt-disney-wallpapers-walt-disney-characters-cdNPkW-clipart.jpg') center center no-repeat;
	text-decoration: underline overline;
	background-size: cover;
	border-radius: 5px;
	border: 1px solid #999;

	
}
ul{
	list-style-type: none;
	overflow: hidden;
	margin: 0px auto;
	
	
	
}
 li{
	width: 120px;
	height: 40px;
	margin: 0px 4px;
	border: 2px solid #000;
	border-radius: 5px;
	float: left;
	
 }
 a{
	opacity: .8;
	display: block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	text-align: center;
	
}

.mediacontainer marquee{
	font-size: 350%;
	line-height: 1em;
	margin: 0px auto;
	text-align: center;
	font-family: 'Fontdiner Swanky', cursive;
	font-weight: normal;
	width: 100%;
}

.features{
	width: 640px;
	height: 1300px;
	margin: 0px auto;
	padding: 5px 0px;
	margin-right:15px;
	margin-left: 15px;
	background: #fff url('http://photoshop-kopona.com/uploads/posts/2016-03/1458061431_photoframe-for-girls-rapunzel-1.jpg') center center no-repeat;
	background-size: cover;
}
.features h2{
	text-align: center;
	font-size: 300%;
	margin-bottom: 30px;
	font-family: 'Fontdiner Swanky', cursive;
	font-weight: normal;
	color: #fff;
	background-image: url('http://66.media.tumblr.com/tumblr_m76zskFXbs1qc4jg3o1_500.gif');
}
#image1{
	background: url('https://media.giphy.com/media/l3vRlT2k2L35Cnn5C/source.gif');
	width: 400px;
	height: 550px;
	background-position: left;
	float: left;
	width: 400px;
	height: 550px;
	background-size: cover;
	background-color: #000;
	margin: 5px;
	float: left;
	margin-right: 15px;
	opacity: .8;
	min-height: 50px;
	border: 1px solid #999;
	border-bottom:3px solid #999;
	border-radius: 5px;
}
#image2{
	background: url('http://i102.photobucket.com/albums/m98/mell-o-drama/Two-Minions-Laughing-Despicable-Me_zps3b03277b.gif');
	width: 300px;
	height: 250px;
	background-position: left;
	float: left;
	width: 400px;
	height: 550px;
	background-color: #000;
	margin: 5px;
	float: left;
	margin-right: 15px;
	opacity: .8;
	min-height: 50px;
	border: 1px solid #999;
	border-bottom:3px solid #999;
	border-radius: 5px;
	background-size: cover;
}

#image3{
	background: url('http://67.media.tumblr.com/a91a5efa04f53008f64e6c8eb949af7b/tumblr_nt17wmlcFj1rvhqlvo1_500.gif');
	width: 300px;
	height: 250px;
	background-position: left;
	float: left;
	width: 400px;
	height: 550px;
	background-color: #000;
	margin: 5px;
	float: left;
	margin-right: 15px;
	opacity: .8;
	min-height: 50px;
	border: 1px solid #999;
	border-bottom:3px solid #999;
	border-radius: 5px;
	background-size: cover;
}


#image4{
	background: url('http://store.metmuseum.org/content/ebiz/themetstore/invt/80024770/80024770_01_l.jpg');
	width: 300px;
	height: 250px;
	background-position: left;
	float: left;
	width: 400px;
	height: 550px;
	background-color: #000;
	margin: 5px;
	float: left;
	margin-right: 15px;
	opacity: .8;
	min-height: 50px;
	border: 1px solid #999;
	border-bottom:3px solid #999;
	border-radius: 5px;
	background-size: cover;
}
#image5{
	background: url('https://sdweg.files.wordpress.com/2015/10/12561-poetry-icon.jpg');
	width: 300px;
	height: 250px;
	background-position: left;
	float: left;
	width: 400px;
	height: 550px;
	background-color: #000;
	margin: 5px;
	float: left;
	margin-right: 15px;
	opacity: .8;
	min-height: 50px;
	border: 1px solid #999;
	border-bottom:3px solid #999;
	border-radius: 5px;
	background-size: cover;
}
#text1{
	font-size: 150%;
}

section.features{

	width: 100%;
	height: 1500px;
	border: 1px solid #999;
	background-size: 100% 100%;
	color: yellow;
	text-decoration: none;
	height: 2500px;
	border-radius: 5px;
	border-bottom:3px solid #999;
}

	#wrapper{
	
	width: 400px;
	background-color: #000;
	margin: 5px;
	float: right;
	margin-left: 15px;
	opacity: .8;
	min-height: 300px;
	border: 1px solid #999;
	border-bottom:3px solid #999;
	border-radius: 5px;
}
	#regform{
		width: 340px;
		margin: 35px;
		margin-top: 15px;
}



.alert{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #fff;
	width: 100%;
	z-index: 10%;
}


#dialogbox{
	display: none;
	position: fixed;
	background-color: #000;
	border-radius: 7px;
	width: 550px;
	z-index: 10%;
}

#dialog> div{
	background: #fff;
	margin: 8px;
}

#dialogbox> div > #dialogboxhead{ background: #fff; padding: 15px; font-size: 76px; color: #fff; }
#dialogbox> div > #dialogboxbody{ background: #333; padding: 20px; color: #fff; }

 #dialogbox > div > #dialogboxfoot{ background: #666; padding: 10px; text-align: right; }
 



	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
